.button {
  border: none;
  font-family: inherit;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.primaryButton {
  background-color: var(--button-bg-color);
  color: var(--button-fg-color);
}

.primaryButton:active {
  filter: brightness(70%);
}
.disabledButton {
  background-color: gray;
  color: darkgray;
  cursor: not-allowed;
}
/* .disabledButton:active {
  background-color: slategray;
} */
