.examHeader {
  font-size: 1rem;
  border-bottom: solid 1px var(--exam-header-color);
  padding: var(--default-spacing);
  margin: 0;
}

.examHeader > a,
.examHeader > a:visited {
  color: var(--exam-header-color);
  text-decoration: none;
}
